{
  "default_server_config": {
    "m.homeserver": {
      "base_url": "https://{{ matrix_domains.synapse }}",
      "server_name": "{{ matrix_domains.synapse }}"
    }
  },
  "livekit": {
    "livekit_service_url": "https://{{ matrix_domains.livekit }}/livekit/jwt"
  },
  "ssla": "https://static.element.io/legal/element-software-and-services-license-agreement-uk-1.pdf",
  "matrix_rtc_mode": "compatibility",
  "matrix_rtc_session": {
    "wait_for_key_rotation_ms": 3000,
    "membership_event_expiry_ms": 180000000,
    "network_error_retry_ms": 100
  }
}
