{
  "default_server_config": {
    "m.homeserver": {
      "base_url": "https://{{ matrix_domains.synapse }}",
      "server_name": "{{ matrix_domains.synapse }}"
    }
  },
  "brand": "Element",
  "disable_custom_urls": true,
  "disable_guests": true,
  "default_country_code": "RU",
  "permalink_prefix": "https://{{ matrix_domains.element }}",
  "show_labs_settings": false,
  "integrations_ui_url": "",
  "integrations_rest_url": ""
}
