{
  "default_server_config": {
    "m.homeserver": {
      "base_url": "https://{{ matrix_domains.synapse }}",
      "server_name": "{{ matrix_domains.synapse }}"
    }
  },
  "brand": "Element",
  "disable_custom_urls": true,
  "disable_guests": true,
  "default_country_code": "RU",
  "permalink_prefix": "https://{{ matrix_domains.synapse }}",
  "show_labs_settings": false,
  "features": {
    "feature_new_spinner": true
  },
  "integrations_ui_url": "",
  "integrations_rest_url": "",
  "livekit": {
    "livekit_service_url": "https://{{ matrix_domains.livekit }}/livekit/jwt",
    "url": "https://{{ matrix_domains.livekit }}/livekit/sfu",
    "use_websocket": true
  },
  "element_call": {
    "url": "https://{{ matrix_domains.element_call }}"
  },
  "piwik": {
    "url": null,
    "siteId": null
  },
  "org.matrix.msc4143": {
    "rtc_foci": [
      {
        "type": "livekit",
        "livekit_service_url": "https://{{ matrix_domains.livekit }}/livekit/jwt"
      }
    ]
  }
}
