{
  "m.homeserver": {
    "base_url": "https://{{ matrix_domains.synapse }}"
  },
  "org.matrix.msc4143.rtc_foci": [
    {
      "type": "livekit",
      "livekit_service_url": "https://{{ matrix_domains.livekit }}/livekit/jwt"
    }
  ]
}
